env:
  - META_PASSWORD=""
services:
  - postgresql
before_script:
  - psql -c 'drop database if exists test_db;' -U postgres
  - psql -c 'create database test_db;' -U postgres
addons:
  postgresql: '9.5'
notifications:
  slack:
    rooms:
      secure: aFLsiY4wMzbHRXFkCmE7Z1kAdRXXIgNoSS/goyeQkXyiZ7K08maGRwX+RGv44UbP97rnmdBMloox5rbxwOcEdoRH1EzywjPTgNeLhtOOJMhrl5S82Iw4PaanGKHwxyjdNad95G4AHQNrTOgE4Bo5Vvxr3+uUAfQLS3Yv+Y5QxoMqKxGH8z7ZPB/XnqMbsJTYhl4Fdb2NloPstabB8gbpX9Mw35++Tok9gvErwVUt2HwmuVZzO8CJBR+oxEW6yRH5zP8yXH6/DhjPYWCCBTKeyBxHyKZBqZQPXhESeeFN54Xclb1ZtDHQlwPpxoGpnk/phZlMak1WyQzTX3tFj4c9YT1jTkj7QnVXQSRd5bmzmezf+I5z0yNrHjBm8Jsmhbee7gZsuTyakIK/zfgtD3m0u9NyGqYgfNLtPqHsvXgiwgbpJN5VB0JelF4EIrwGxKlmrbFnghtpyEXCUn3z5ROP6MNqNwUF0UY1L+OOi7MG+8FqGaq5N7WAoypLTmhnQHSc/ZmD/MlqDRhilBSgCTNNYybckMCDo+FyNHKHifu1L6nKTAQlG63SXcbtHfGeDHDJrdAQ1+rKS2fV8aiGyGF8QSVQO+gkmRBTyi4nX27eYnnrm09MiOwr2EW4u//aPLC8ezWnpMZXKpmPJHaiXjnRJF9Zx8Pr3r2Hg62bISzNy8c=

matrix:
  fast_finish: true
  include:

    - name: "Unit tests with pact publication"
      script: sbt ++$TRAVIS_SCALA_VERSION pactPublish
      dist: trusty
      language: scala
      scala:
        - 2.12.7
      jdk:
        - openjdk8
      cache:
        directories:
        - $HOME/.ivy2/cache
        - $HOME/.sbt/boot/
      before_cache:
        - find $HOME/.ivy2 -name "ivydata-*.properties" -delete
        - find $HOME/.sbt -name "*.lock" -delete

    - name: "Pact provider verification tests"
      script: sbt ++$TRAVIS_SCALA_VERSION "pact:testOnly -- -n PactProviderTest"
      dist: trusty
      language: scala
      scala:
        - 2.12.7
      jdk:
        - openjdk8
      cache:
        directories:
        - $HOME/.ivy2/cache
        - $HOME/.sbt/boot/
      before_cache:
        - find $HOME/.ivy2 -name "ivydata-*.properties" -delete
        - find $HOME/.sbt -name "*.lock" -delete

    - name: "Release"
      language: python
      if: branch = master AND type = push
      python: 3.7
      dist: bionic
      services:
        - docker
      cache:
        pip: true
        directories:
          - $HOME/.ivy2/cache
          - $HOME/.sbt/boot/
      before_install:
        # Authenticate docker client to deploy aws registry
        - pip install awscli
        - $(aws ecr get-login --no-include-email --region eu-west-1)

        # Fetch deploy repo
        - git clone --depth 1 https://knowit-at-ndla:$TRAVIS_RELEASE_GITHUB_TOKEN@github.com/ndlano/deploy.git ../deploy

        # Setup env
        - export NDLA_HOME=$(realpath $(pwd)/../)
        - export NDLA_DEPLOY=$NDLA_HOME/deploy
        - export DEPLOY_VERSION=$(git -C $NDLA_DEPLOY rev-parse --short=7 HEAD)
        - export DEPLOY_DOCKER_REPO=784120951859.dkr.ecr.eu-west-1.amazonaws.com/ndla/deploy

        # Get cache, and don't fail if missing
        - docker pull $DEPLOY_DOCKER_REPO:$DEPLOY_VERSION || true
      install:
        - eval "$($NDLA_DEPLOY/scripts/bin/ndla init -)"
      env:
        - SSH_AUTH_SOCK=/tmp/mock_sock
      script:
        - ndla release test draft-api --update-chart

      before_cache: # Save docker image as cache
        - docker push $DEPLOY_DOCKER_REPO:$DEPLOY_VERSION

        # Tricks to avoid unnecessary cache updates
        - find $HOME/.ivy2 -name "ivydata-*.properties" -delete
        - find $HOME/.sbt -name "*.lock" -delete

  allow_failures:
      - name: "Release"
